.nav-bar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vh;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
}

.nav-bar a {
  margin: 5rem;
}
