.scrollToPrevious-button {
  position: absolute;
  top: 3rem;
  z-index: 10;
}

.scrollToNext-button, .scrollToTop-button {
  bottom: 1rem;
  position: absolute;
}

.scrollToNext-button img,
.scrollToPrevious-button img,
.scrollToTop-button img {
  height: 4rem;
}

.flash {
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 680px) {
  .scrollToPrevious-button {
    top: 1rem;
  }
}
