.scrollToPrevious-button {
  position: absolute;
  top: 3rem;
}

.scrollToNext-button, .scrollToTop-button {
  position: absolute;
  bottom: 1rem;
}

.scrollToNext-button img,
.scrollToPrevious-button img,
.scrollToTop-button img {
  height: 4rem;
}

.flash {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
