.about-page {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.image-container {
  position: fixed;
  top: 0;
  left: -6%;
  width: 80%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}

.about-skewed {
  position: absolute;
  top: 0;
  left: 68%;
  width: 28%;
  height: 100%;
  background-color: white;
  -ms-transform: skewX(-4deg);
  -webkit-transform: skewX(-4deg);
  transform: skewX(-4deg);
}

.about-skewed::before {
  content: "";
  position: absolute;
  left: -1%;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  max-width: 90%;
  height: 100%;
  margin: 2rem;
  color: #121212;
  -ms-transform: skewX(4deg);
  -webkit-transform: skewX(4deg);
  transform: skewX(4deg);
}

.about-content-text h2 {
  font-family: 'Raleway', sans-serif;
}

.background-image {
  height: 100%;
}

.decorative-line-dark {
  height: 1px;
  width: 5rem;
  margin: 2rem;
  background-color: black;
}

@media only screen and (max-width: 1024px) {
  .about-page {
    background-color: white;
    align-items: center;
  }

  .about-skewed {
    position: static;
    transform: none;
    width: 45%;
  }

  .about-content-text {
    margin: 0 4rem 0 1rem;
    transform: none;
  }

  .image-container {
    position: static;
    height: 30%;
    width: auto;
    z-index: 100;
  }
}

@media only screen and (max-width: 680px) {
  .about-page {
    flex-direction: column;
  }

  .about-skewed {
    height: 40%;
    width: 70%;
  }

  .about-content-text {
    left: 0;
    align-items: center;
    text-align: center;
    margin: 0;
    max-width: 100%;
  }
  .decorative-line-dark {
    margin: 1rem;
  }
}
