.about-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-skewed {
  transform: skewX(-4deg);
  background-color: white;
  width: 28%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 68%;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  max-width: 90%;
  height: 100vh;
  background-color: white;
  color: #121212;
  align-items: flex-end;
  text-align: right;
  transform: skewX(4deg)
}

.about-content-text p, h2 {
  margin: 2rem;
}

.about-content-text h2 {
  margin: 2rem;
  font-family: 'Raleway', sans-serif;
}

.background-image {
  height: 100%;
}

.image-container {
  position: fixed;
  top: 0;
  left: -6%;
  width: 80%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}

.decorative-line-dark {
  height: 1px;
  width: 5rem;
  background-color: black;
  margin: 2rem;
}
