.contact-page {
  align-items: center;
  background-color: #CBAC8F;
  color: #302625;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.contact-skewed {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100%;
  left: 33%;
  position: absolute;
  -ms-transform: skewX(-4deg);
  -webkit-transform: skewX(-4deg);
  transform: skewX(-4deg);
  width: 70%;
}

.contact-skewed::before {
  border-left: 1px solid white;
  content: "";
  height: 100%;
  left: -0.5%;
  position: absolute;
  width: 100%;
}

.contact-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transform: skewX(4deg);
  -ms-transform: skewX(4deg);
  -webkit-transform: skewX(4deg);
  width: 100%;
}

.contact-title {
  align-items: center;
  display: flex;
}

.contact-title h2 {
  font-family: 'Raleway', sans-serif;
  margin: 3rem 1rem;
}

.media {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.media-link {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}

.media-link img {
  height: 2.5rem;
  width: 2.5rem;
}

.media-link span {
  color: black;
  font-family: 'Raleway', sans-serif;
}

.media a {
  text-decoration: none;
}

@media only screen and (max-width: 680px) {
  .contact-skewed {
    height: 70%;
    left: 0;
    transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    width: 100%;
  }

  .contact-content {
    transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
  }

  .contact-title {
    text-align: center;
  }
}
