.skills-page {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
}

.skills-title {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.skills {
  display: flex;
}

.skill {
  position: relative;
  width: 9rem;
  height: 6rem;
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #302625;
  background-color: #CBAC8F;
}

.skill h2 {
  color: white;
  font-size: 1rem;
  width: 8rem;
  font-family: 'Playfair Display', serif;
}

.skill::before {
  content: "";
  position: absolute;
  height: 8rem;
  width: 10rem;
  border: 1px solid #CBAC8F;
  border-radius: 10px;
}

.skill::after {
  content: "";
  position: absolute;
  height: 7rem;
  width: 11rem;
  border: 1px solid #CBAC8F;
  border-radius: 10px;
}

.technologies img {
  height: 6rem;
  width: 6rem;
  margin: 1rem;
}

.technologies img:hover {
  animation-name: slideout;
}
