.skills-page {
  align-items: center;
  background-color: #e2e2e2;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.skills-title {
  align-items: center;
  display: flex;
  color: #121212;
  font-family: 'Raleway', sans-serif;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill h2 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  width: 8rem;
}

.skill {
  align-items: center;
  background-color: #CBAC8F;
  color: #302625;
  display: flex;
  height: 6rem;
  justify-content: center;
  margin: 4rem;
  position: relative;
  text-align: center;
  width: 9rem;
}

.skill::before {
  border: 1px solid #CBAC8F;
  border-radius: 10px;
  content: "";
  height: 8rem;
  position: absolute;
  width: 10rem;
}

.skill::after {
  border: 1px solid #CBAC8F;
  border-radius: 10px;
  content: "";
  height: 7rem;
  position: absolute;
  width: 11rem;
}

@media only screen and (max-width: 1200px) {
  .skills {
    width: 60%;
  }
}

@media only screen and (max-width: 910px) {
  .skills {
    width: 80%;
  }
}

@media only screen and (max-width: 680px) {
  .skill {
    margin: 2rem;
  }

  .skills-title {
    font-size: 0.8rem;
    text-align: center;
  }

  .decorative-line-dark {
    width: 2rem;
  }
}
