.technologies-page {
  align-items: center;
  background-color: #F8F3ED;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.technologies-title {
  align-items: center;
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin: 2rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.technologies img {
  height: 6rem;
  margin: 2.5rem;
  width: 6rem;
}

@media only screen and (max-width: 1024px) {
  .technologies {
    width: 80%;
  }
}

@media only screen and (max-width: 680px) {
  .technologies-page {
    height: auto;
    padding: 6rem 0;
  }

  .technologies img {
    height: 4rem;
    width: 4rem;
  }

  .technologies-title {
    font-size: 0.8rem;
    text-align: center;
  }

  .decorative-line-dark {
    width: 2rem;
  }
}
